<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content>
        <meta name="author" content="Philippe Pichet">
        <title>{% block title %}Philippe Pichet{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block link %}
            {% include 'default/link.css.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body class="container">
        {% include 'default/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% include 'default/javascript.html.twig' %}
        {% endblock %}
    </body>
</html>
