{% extends 'base.html.twig' %}

{% block body %}
    <div id="first" class="full-screen right">
        <div id="intro" class="fixed-bottom">
            <div id="intro-name">Philippe Pichet</div>
            <div id="intro-status">
                Développeur Backend PHP/Symfony
            </div>
            <a href="#story" id="more" class="text-center button">En savoir plus</a>
        </div>

    </div>
    <div id="story" class="full-screen right">
        <p>
            Bonjour, Je m'appelle Philippe Pichet. <br>
            Ancien menuisier passionné par le monde de l'informatique et autodidacte, j'ai décidé de me reconvertir en tant que développeur back end.
            <br>
            Pour réussir mon apprentissage, j'ai suivi la formation de chef de projet multimédia proposé par <a href="https://openclassrooms.com/paths/chef-de-projet-multimedia-design" target="_blank">Open Classrooms</a>. J'ai pu développer mes compétences dans différents langages du web.
            <br>
        </p>
    </div>
    <div id="career" class="full-screen right">
        <div>
            <ul>
                <li>
                    <h2>avril 2017 à mai 2017</h2>
                    <p>
                        Stage en entreprise : <br>
                        L'entreprise Enoptéa est spécialisée en gestion d'énergie et négociation de contrats d'énérgie.
                        Lors du stage, j'ai pu mettre en pratique mes connaissances en Symfony, Jquery et aussi mes capacités d'apprentissage de langage ou technologie inconnue ( MongoDB)
                    </p>
                </li>
                <li>
                    <h2>2016 à août 2017</h2>
                    <p>
                        Formation chef de projet en développement: <br>
                        La formation chef de projet multimédia en développement d'OpenClassrooms est une formation diplômante en ligne.
                        Elle forme sur différents langages du web (PHP, Html/css, ...) et techniques du web (git et github, ...) ainsi que sur la gestion de projet.
                    </p>
                </li>
                <li>
                    <h2>2008 à 2016</h2>
                    <p>
                        Menuisier poseur dans l'entreprise Giraud
                    </p>
                </li>
            </ul>
            <a href="{{ asset('bundles/app/pdf/cv.pdf') }}" class="text-center button">Voir le cv</a>
        </div>
    </div>
    <div id="projects" class="full-screen right">
        <ul>
            <li>
                <h2>Application Nos Amis les Oiseaux</h2>
                <p>
                    Sixième projet de la formation chef de projet, l'application permet de poster une observation sur les oiseaux croisés lors de balades.
                </p>
                <div class="text-center-horizontal">
                    <a href="https://github.com/philou69/Projet6" class="button inline-button">Github</a> <a href="https://nao.site-projet.fr" class="button inline-button">Le site</a>
                </div>

             </li>
            <li>
                <h2>Application Warhammer</h2>
                <p>
                    Les warhammer sont des petites figurines à assembler et à peindre pour constituer une armée afin d'affronter un ou plusieurs adversaire(s). L'application web permet de lister son armée, de proposer une session de jeu.
                </p>
                <div class="text-center-horizontal">
                    <a href="https://github.com/philou69/warhammer" class="button inline-button">Github</a>
                </div>
            </li>

            <a href="https://github.com/philou69?tab=repositories" class="text-center button" id="more-projects">Plus de projets</a>
        </ul>
    </div>
    <div id="contact" class="full-screen right">
        <div>
            <h2>Contactez moi </h2>
            <a href="mailto:phil@pichet.eu" class="button inline-button">phil@pichet.eu</a>
            <a href="https://twitter.com/philpich" class="button inline-button social"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/philippe-pichet-77b082138/" class="button inline-button social"><i class="fa fa-linkedin"></i></a>
        </div>

    </div>
{% endblock %}
