<header>
    <div class="container">
        <a id="menu-dropdown" href="#navbar" class="text-center">
            <i class="fa fa-bars"></i>
        </a>
        <ul id="navbar">
            <li><a href="#story" class="ancre text-center">A propos</a></li>
            <li><a href="#career" class="ancre text-center">Mon parcours</a></li>
            <li><a href="#projects" class="ancre text-center">Mes projets</a></li>
            <li><a href="#contact" class="ancre text-center">Contact</a></li>
        </ul>
    </div>

</header>