/* style générale*/
body{
    color: #3aafb9;
}
div{

}
/* Class des div occupant tout la hauteur de l'écran avec un padding de hauteur de la navbar */
.full-screen{
    min-height: calc(100vh - 60px);
    padding-top: 60px;
}

#first{
    background: url("/bundles/app/images/fond_ecran.png") no-repeat fixed;
}

#story{
    background: url("/bundles/app/images/story.png") no-repeat fixed;
}

#career{
    background: url("/bundles/app/images/career.png") no-repeat fixed;
}

#projects{
    background: url("/bundles/app/images/projects.png") no-repeat fixed;
}

#contact{
    background: url("/bundles/app/images/contact.png") no-repeat fixed;
}
#error{
    background: url("/bundles/app/images/error.png") no-repeat fixed;
}
#intro *{
    color: #3aafb9;
}

.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Couleur d'écriture */
h1 {
    color: #78cdd7;
}
p{
    font-size: 21px;
}
.right ul{
    list-style: none;
}

a.button{
    background-color: #78cdd7;
    color: #fffffa !important;
    border-radius: 2px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    margin:auto;
    padding: 5px 10px;
}
a.button:hover{
    background-color: #247b7b;
}
a{
    text-decoration: none;
    color: #0d5c63;
}
a:hover{
    color: #78cdd7;
}
#intro>*
{
    text-align: center;
    margin-top: 10%;
}

#more-projects{
    margin-top: 10%;
 }
.inline-button{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social{
    width: 40px !important;
}
.text-center-horizontal{
    text-align: center;
}
#contact *{
    text-align: center;
}

.full-screen ul {
    padding-left: 0;
}
@media screen and (max-width: 767px){
    .container{
        width: 90%;
        margin: auto;
    }
    #first, #story, #career, #projects, #contact, #error{
        background-size: auto 180px;
        background-position-y: 60px;
        background-position-x: center;
    }

    .right{
        display: flex;
        flex-direction: row;
    }
    .right>*{
        margin-top: 180px;
        width: 100%;
    }
    #intro-name{
        font-size: 25px;
    }
    #intro-status{
        font-size: 50px;
    }
    .full-screen>*{
        background-color: white;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {

    #first, #story, #career, #projects, #contact, #error{
        background-size: auto 55%;
        background-position-x: 10%;
        background-position-y: center;
    }
    .full-screen>*{
        max-width: 45%;
    }
    #intro>div{
        font-size: 35px ;
    }
}
@media screen and (min-width: 1200px){
    #first, #story, #career, #projects, #contact, #error{
        background-size: auto 60%;
        background-position-x: 20%;
        background-position-y: center;
    }
    .full-screen>*{
        max-width: 50%;
    }
}
@media screen and (min-width: 768px){

    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .container{
        width: 80%;
        margin: auto;
    }

    #intro-name{
        font-size: 45px;
        text-align: center;
    }
    #intro-status{
        font-size: 60px;
    }
    #contact>div{
        width: 40%;
    }
}